extends layout

block content
  h1= title
  p ¡Bienvenidos! to User List

  #wrapper

      h2 User List
      #userlist
        table
          thead
            th UserName
            th Email
            th Delete?
          tbody
   
